body {
    background-color: lightblue;    
   
  }
  
p {
    color: rgb(10, 10, 0);
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;;
     }
  
h1 {
    font-size: 36px;
  }
h3 {
      font-size: 30px;
      color: Blue;
  }
  
.center {
    text-align: center;
  }
  
#cool-text{
    color: blue
  }
  
#red-text{
    color: red;
  }
li {
    padding-top: 10px;
    
    padding-bottom: 10px;
    padding-left: 40px;
    }
  